:root{
    --fundo-escuro: rgba(0, 0, 0, 0.815);
    --fundo-claro: rgb(235, 240, 240);
    --fundo-divs-dark: #353535;
}

.avisoVerify {
    background-color: var(--fundo-divs-dark);
    height: 20%;
    width: 30%;
    color: red;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000000000000000000000000000000;
}

.container-home > .containerAviso.noVerify{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.301);
    z-index: 11111111111111111111111111111111;
}

/*THEME DARK */
.container-home {
    display: flex;
    height: 100vh;
    background-color: var(--fundo-escuro);
    transition: .2s ease;
}

.screen-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* THEME LIGHT*/

.container-home.light {
    background-color: var(--fundo-claro);
}