@charset "UFT-8";

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-login {
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dados {
    background-color: rgb(78, 78, 78);
    height: 85%;
    width: 35%;
    position: absolute;
    z-index: 1000000;
    border-radius: 10px;
    padding: 4px;
}

.container-dados > .border {
    height: 100%;
    width: 100%;
    border: 4px solid purple;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 2rem;
}

.container-dados > .border > h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}

.container-dados > .border > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: start;padding: 10px;
    margin-top: 25px;
}

.container-dados > .border > p > strong {
    color: rgb(211, 0, 211);
}


.input-name {
    position: relative;
    margin: 20px 0;
    width: 100%;
    margin-top: 50%;
}

.inputs-name  {
    width: 100%;
    height: 50px;
    padding: 10px 12px 8px;
    font-size: 17px;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.219);
    color: black;
    outline: none;
}

.label-name {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 17px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: 0.2s ease all;
}

.inputs-name:focus + .label-name,
.inputs-name:not(:placeholder-shown) + .label-name {
    top: -25px;
    font-size: 19px;
    color: white;
}

.APIMessage-container {
    position: absolute;
    z-index: 100000;
    height: 250px;
    width: 450px;
    border-radius: 13px;
    border: 1px solid purple;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.APIMessage-container > a {
    position: fixed;
    z-index: -1;
    margin-left: 21.2%;
    margin-bottom: 10.5%;
    color: white;
}

.APIMessage-container > a > i {
    font-size: 18px;
    color: white;
}

.APIMessage-container > a > i:hover {
    font-size: 18px;
    color: rgb(255, 0, 0);
}

.APIMessage-container > h3 {
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.login {
    width: 75%;
    height: 80%;
    box-shadow: 5px 5px 50px 4px rgb(0, 0, 0);
    border-radius: 2px;
    display: flex;
    padding: 6rem;
}

.logo > i {
    color: white;
    font-size: 42px;
    position: absolute;
    margin-top: -2%;
}

#titulo-login {
    color: white;
    margin-top: 8.5%;
    font-size: 100px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    background-color: white;
    border-radius: 5px;
    width: 6%;
    height: 3px;
    position: fixed;
    margin-top: 14.6%;
}

.text-login > h4 {
    color: white;
    position: fixed;
    position: fixed;
    margin-top: 19%;
    right: 59%;
    width: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
#learnMore-login {
    background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 72, 0), rgb(255, 1, 1));
    width: 8%;
    height: 50px;
    padding: 10px 12px 8px;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    margin-top: 24.8%;
    position: fixed;
    cursor: pointer;
}

.login-dados {
    width: 25vw;
    height: 25vw;
    background-color: rgba(255, 255, 255, 0.151);
    margin-left: auto;
    margin-top: 4%;
    padding: 3.5rem;
    text-align: center;
}

.form-container {
    position: relative;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.login-dados.expand {
    height: auto;
    min-height: 600px;
    width: 25vw;
    margin-top: 0%;
}

.login-dados h2 {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-group {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.inputs {
    width: 100%;
    height: 50px;
    padding: 10px 12px 8px;
    font-size: 17px;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.219);
    color: black;
    outline: none;
}

.label {
    position: absolute;
    top: 30%;
    left: 14%;
    transform: translateX(-50%);
    font-size: 17px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: 0.2s ease all;
}

.confirmPasswordLabel {
    left: 24%;
}

.inputs:focus + .label,
.inputs:not(:placeholder-shown) + .label {
    top: -25px;
    font-size: 19px;
    color: white;
}

#submit-login {
    background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 72, 0), rgb(255, 1, 1));
    width: 100%;
    height: 50px;
    padding: 10px 12px 8px;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    margin-top: 8%;
} 

#createAcount-login {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 6%;
    margin-left: 73%;
}

#createAcount-login:hover {
    color: rgb(255, 1, 255);
}

/* LEARN */
.learnContainer-login {
    position: fixed;
    width: 50%;
    height: 99vh;
    background-color: rgb(247, 241, 235);
    border-radius: 5px;
    border: none;
    padding: 1rem 3rem;
    text-align: center;
    z-index: 10000;
    pointer-events: none;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease;
    display: block;
}

.learnContainer-login.open {
    margin-top: 50px;
    animation-name: openLearn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: auto;
}

.learnContainer-login.exit {
    animation-name: closeLearn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;    
}

.learnContainer-login h1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.learnContainer-login p {
    font-size: 18px;
    text-align: auto;
    margin-top: 45px;
    font-family: 'Courier New', Courier, monospace;
}

#closeLearn-login {
    font-size: 30px;
    margin-left: 100%;
    font-weight: 900;
    color: rgb(255, 0, 0);
}

.fade-in {
    animation-name: fadeSlideIn;
}
  
.fade-out {
    animation-name: fadeSlideOut;
}
  

/* ANIMAÇÔES */
.animacao {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes fadeSlideOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
}

@keyframes openLearn {
    from {
        transform: translateY(90%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes closeLearn {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(90%);
      opacity: 0;
    }
}