:root{
    --cor-padrao: rgb(148, 1, 148);
    --light-theme-padrao: rgb(173, 2, 173);

    --fundo-escuro: rgba(0, 0, 0, 0.815);
    --sombra: rgb(68, 68, 68);
    --li-off: rgba(255, 255, 255, 0.623);
    --fundo-itens-dark: rgba(214, 214, 214, 0.247);


    --fundo-claro: rgb(235, 240, 240);
    --cor-clara: white;
    --light-theme-shadow: rgba(0, 0, 0, 0.185);
    --letras-light-theme: black;
    --fundo-itens-light: rgba(0, 0, 0, 0.164);
}

.menu-home {
    background-color: var(--light-theme-shadow);
    height: 100vh;
    width: 4%;
    box-shadow: 2px 10px 20px var(--sombra);
    border-radius: 0px 2% 10px 0px;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    z-index: 1000000;
}

.menu-home:hover {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.884);
    box-shadow: 2px 10px 20px var(--sombra);
    border-radius: 0px 2% 10px 0px;
    width: 14%;
}

.menu-home > .logo-menu {
    margin-top: 40px;
    margin-left: 16%;
    display: flex;
    align-items: center;
    color: var(--cor-clara);
}

.menu-home > .logo-menu > i {
    font-size: 30px;
    color: var(--cor-padrao);
    min-width: 30px;
    align-items: center;
    margin-left: 10px;
}

.menu-home > .logo-menu > h2 {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.menu-home:hover .logo-menu h2 {
    opacity: 1;
    width: auto;
    margin-left: 20px;
}

.menu-home > .component-menu {
    color: var(--cor-clara);
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-home > .component-menu > .itens-menu {
    padding: 0px;
    margin-top: 120px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-home > .component-menu > .itens-menu > li {
    list-style: none;
    width: 100%;
    padding: 1.25rem 0rem;
    margin-left: 4%;
    position: relative;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.menu-home > .component-menu > .itens-menu > li:hover::after {
    content: '';
    position: absolute;
    top: 16%;
    left: 0;
    width: 5px;
    height: 65%;
    background-color: var(--cor-padrao);
}

.menu-home > .component-menu > .itens-menu > li .hover-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(128, 0, 128, 0.4), transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 0;
}

.menu-home > .component-menu > .itens-menu > li:hover .hover-glow {
    opacity: 1;
}


.menu-home > .component-menu > .itens-menu > li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: purple;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-home > .component-menu > .itens-menu > li:hover .hover-glow,
.menu-home > .component-menu > .itens-menu > li:hover::after {
    opacity: 1;
}

.menu-home > .component-menu > .itens-menu > li.active .hover-glow,
.menu-home > .component-menu > .itens-menu > li.active::after {
    opacity: 1;
}

.menu-home > .component-menu > .itens-menu > li.active > a {
    color: var(--cor-clara);
}

.menu-home > .component-menu > .itens-menu > li > a{
    color: var(--cor-clara);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--li-off);
    pointer-events: none;
    margin-left: 13%;
}

.menu-home > .component-menu > .itens-menu > li:hover > a {
    color: var(--cor-clara);
}

.menu-home > .component-menu > .itens-menu > li > a > i {
    font-size: 30px;
    min-width: 30px;
    text-align: center;
    margin-left: 10px;
}

.menu-home > .component-menu > .itens-menu > li > a > h4 {
    margin-left: 25px;
    margin-top: 3%;
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.menu-home:hover .itens-menu li a h4 {
    opacity: 1;
    width: auto;
}

.footer-menu {
    margin-left: 16%;
    margin-top: auto;
    margin-bottom: 40px;
}

.footer-menu > a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--li-off);
    font-size: 20px;
    text-decoration: none;
}

.footer-menu > a > i {
    font-size: 24px;
    min-width: 24px;
    margin-left: 20px;
    color: red;
}

.footer-menu > a > h4 {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:  all 0.3s ease;
}

.menu-home:hover .footer-menu > a > h4 {
    opacity: 1;
    width: auto;
    color: red;
}

.container-home.light > .menu-home {
    box-shadow: 2px 10px 20px var(--light-theme-shadow);
}

.container-home.light > .menu-home:hover {
    box-shadow: 2px 10px 20px var(--light-theme-shadow);
}

.container-home.light > .menu-home > .logo-menu {
    color: var(--letras-light-theme);
}

.container-home.light > .menu-home > .logo-menu > h2 {
    color: white;
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li:hover > a > i {
    color: var(--light-theme-padrao);
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li.active > a {
    color: var(--light-theme-padrao);
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li > a{
    color: var(--fundo-escuro);
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li > a > i{
    color: var(--fundo-escuro);
}

.container-home.light > .menu-home:hover > .component-menu > .itens-menu > li > a > i{
    color: var(--fundo-claro);
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li > a > h4 {
    color: var(--fundo-claro);
}

.container-home.light > .menu-home > .component-menu > .itens-menu > li:hover > a {
    color: var(--fundo-escuro);
    
}